.button {
  background-color: transparent;
  border-radius: 25px;
  border: solid;
  border-color:#1c87c9;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  }

  .Jungle {
    /* font-family: jungleFont;
    src: url(resources\css\heavy_dock11.otf) format("opentype"); */
    font-family: 'Press Start 2P', cursive;
    color: red;
    text-align: center;
  }

  table, td, th{
    background-color: white;
    border: 2px solid black;
  }

  nav {
    text-align: center;
  }


  #title-page {
    display: block;
  }

  #tutorial-page {
    display: none;
  }

  #about-page {
    display: none;
  }

  #level-page {
    display: none;
  }

  .mainBtn {
    background-color: transparent;
    border-radius: 25px;
    border: solid;
    border-color:#1c87c9;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }